<div>
  <div class="ui compact menu">
    <div class="item">
      <%= link_to("項目設計一覧", projects_path) %>
    </div>
    <div class="item">
      <%= link_to("項目設計 新規登録", new_project_path) %>
    </div>
  </div>
</div>